In [0]:
import numpy as np 
import pandas as pd
from scipy import stats

In [0]:
ans = 0
for i in range(2,13):
  data = pd.read_csv("/content/rfc_grid_data"+str(i)+".csv")
  y_pred = np.array(data["Survived"])
  ans = ans  + y_pred

In [0]:
data = pd.read_csv("/content/rfc_grid_data.csv")
y_pred = np.array(data["Survived"])
ans = ans +y_pred

In [0]:
ans

array([ 0,  2,  0,  0, 12,  0,  6,  0, 12,  0,  0,  0, 12,  0, 12, 12,  0,
        0,  3, 12,  0, 12, 12,  0, 12,  0, 12,  0,  0,  0,  0,  0, 11,  7,
        6,  0,  0,  0,  0,  8,  0,  2,  0, 12, 12,  0,  0,  0, 12, 11,  0,
        0, 12, 12,  0,  0,  0,  0,  0, 12,  0,  0,  0, 12, 12, 12, 12,  0,
        4, 12, 12,  0,  1,  5, 12,  0,  0, 12,  0, 12, 12,  0,  0,  0,  0,
        0, 12,  0,  9, 12,  9,  0, 12,  0,  0,  0, 12,  0,  5,  0, 12,  0,
        0,  0, 12,  0,  0,  0,  0,  0,  0, 12, 12, 12, 12,  0,  0, 12,  4,
       12, 12,  0, 12,  0,  0, 12,  0, 12,  0,  0,  0,  2,  0,  0,  0,  0,
        0,  0,  0,  0,  0, 12,  2,  0,  3,  0,  0,  0,  2,  0, 12,  0,  0,
       10,  0,  0, 12,  5,  3, 12, 12, 12, 12,  0,  0, 12,  0,  0, 12,  0,
        0,  0,  0,  0,  0, 12, 12,  0, 12, 12,  0,  1, 12,  0, 12,  0, 12,
        0,  0,  0,  0,  0, 12,  0, 12,  0, 12,  8,  0,  2, 12, 12, 12, 12,
        0,  0,  4,  0, 12,  0,  0,  0,  0, 12,  1,  0, 12,  0, 12,  0, 12,
        0, 12,  0, 12,  5,  0, 12,  0,  0,  0, 12,  0,  0,  0,  0,  0,  0,
       12, 12, 12, 12,  0,  0, 12,  0, 12,  0, 12,  1, 12,  0,  1,  0,  0,
        0,  0,  0, 12,  0,  0,  0, 12, 12,  0,  0,  0,  0,  0,  0,  0,  0,
       12, 12,  0, 12,  0,  0,  0,  0,  0, 12, 12,  7, 12,  0,  0,  0,  0,
        0,  0,  7,  0,  7,  0,  0, 12,  0,  0,  0,  0,  0,  0,  0, 12, 12,
        5, 12,  0,  0,  0,  0,  0,  2, 12, 12,  0,  0,  0,  0,  0,  0,  0,
       11, 12,  0, 12,  0,  0,  0, 12,  0,  0, 12,  0,  0,  0,  0,  0, 12,
        0,  0,  0, 12, 12, 12,  0, 12,  0, 12, 12,  0,  0,  0, 12,  0, 12,
        0,  0, 11,  0, 12, 12,  0, 12,  0,  0,  4, 12,  0,  0, 12,  0,  0,
       12, 12,  0,  0,  0,  0,  0,  0, 10, 12,  0, 12,  0,  0,  0,  0,  0,
       12, 12,  0,  0, 12,  0, 12,  0,  0, 12,  0, 12,  0,  0,  0,  0,  0,
       12, 12, 12, 12,  3,  0, 12,  0,  0, 12])

In [0]:
for i in range(418):
  if ans[i]>=7:
    ans[i]=1
  else:
    ans[i]=0

In [0]:
data = pd.read_csv("/content/rfc_grid_data7.csv")

In [0]:
rfc_grid= pd.DataFrame({
        "PassengerId": data["PassengerId"],
        "Survived": ans
    })

In [0]:
rfc_grid.to_csv("/content/ans2.csv", index=False)

In [0]:
rfc_grid

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]