In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
train = pd.read_csv("/content/train_mod.csv")

In [0]:
tr = pd.read_csv("/content/train.csv")
y=tr["Survived"]

In [0]:
test = pd.read_csv("/content/test_mod.csv")

In [0]:
X_test = test
X_test = X_test.drop(columns=["PassengerId"])

In [0]:
train.head()

   Pclass  Sex   Age  Parch     Fare  Embarked  Title  FamilySize
0       3    1  22.0      0   7.2500         1      1           2
1       1    0  38.0      0  71.2833         2      3           2
2       3    0  26.0      0   7.9250         1      4           1
3       1    0  35.0      0  53.1000         1      3           2
4       3    1  35.0      0   8.0500         1      1           1

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV,StratifiedKFold,cross_val_score,train_test_split
from sklearn.metrics import accuracy_score
rfc = RandomForestClassifier(random_state=100)
param_grid = { 
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}
kf = StratifiedKFold(n_splits=5)
grfc = GridSearchCV(estimator = rfc,param_grid=param_grid,cv=kf)
X_train,X_tes,y_train,y_test = train_test_split(train,y,random_state=69)
grfc.fit(X_train,y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=100,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [200, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [0]:
grfc.best_score_

0.8339131410616092

In [0]:
grfc.best_params_

{'criterion': 'gini',
 'max_depth': 6,
 'max_features': 'log2',
 'n_estimators': 200}

In [0]:
y_pred1 = grfc.predict(X_tes)

In [0]:
accuracy_score(y_test,y_pred1)

0.8475336322869955

In [0]:
y_pred1 = grfc.predict(X_test)

In [0]:
rfc_grid= pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": y_pred1
    })

In [0]:
rfc_grid.to_csv("/content/rfc_grid_data12.csv", index=False)